aiohttp==3.13.5
attr==0.3.2
authlib==1.7.2
brotli==1.2.0
brotlicffi==1.2.0.1
charset_normalizer==3.4.1
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
controlnet_aux==0.0.10
cryptography==48.0.0
ctypes_snappy==1.03
cupy==14.1.0
Cython==3.2.5
diffusers==0.38.0
distributed==2026.3.0
dl==0.1.0
docutils==0.23
duckdb==1.5.3
eole==0.5.2
evaluate==0.4.6
exceptiongroup==1.3.1
fastai==2.8.7
fastapi==0.136.3
fastparquet==2026.5.0
gradio==6.15.1
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.154.0
importlib_resources==7.1.0
inflect==7.3.1
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.8
isal==1.8.0
Jinja2==3.1.6
jnius==1.1.0
js==1.0
kerchunk==0.2.10
keyring==25.7.0
librosa==0.11.0
lockfile==0.12.2
lz4==4.4.5
lzmaffi==0.3.0
matplotlib==3.10.9
mcp==1.27.1
ml_dtypes==0.5.4
mpi4py==4.1.2
mtrand==0.1
mypy==2.1.0
nvtx==0.2.15
onnx==1.21.0
onnx_graphsurgeon==0.6.1
onnx_ir==0.2.1
onnxruntime_extensions==0.15.2
onnxscript==0.7.0
opencv_python==4.13.0.92
optimum==2.1.0
outcome==1.3.0.post0
pandas==3.0.3
paramiko==5.0.0
path.py==12.5.0
Pillow==12.2.0
polygraphy==0.50.3
psutil==6.1.1
py3nvml==0.2.7
pyarrow==24.0.0
pydantic==2.13.4
pygit2==1.19.2
PyInstaller==6.20.0
pyOpenSSL==26.2.0
pytest==9.0.3
pytest_run_parallel==0.9.0
pywin32==311
railroad==0.5.0
requests_kerberos==0.15.0
safetensors==0.7.0
scipy==1.17.1
scipy_doctest==2.2.0
slack_sdk==3.42.0
smbprotocol==1.16.1
sniffio==1.3.1
socksio==1.0.0
Sphinx==9.1.0
starlette==1.1.0
sympy==1.14.0
tensorboardX==2.6.5
tensorflow==2.21.0
tensorrt==11.0.0.114
tf2onnx==1.17.0
thread==2.0.6
threadpoolctl==3.6.0
toml==0.10.2
tomli_w==1.2.0
torch==2.10.0
torch_xla==2.9.0
tornado==6.4.2
trove_classifiers==2026.5.22.10
truststore==0.10.4
ujson==5.12.1
urllib3_secure_extra==0.1.0
uvloop==0.22.1
winloop==0.6.3
xmlrpclib==1.0.1
xx==4.0.0
yarl==1.24.2
zstandard==0.25.0
